body {
  margin:0px;
  background-color:rgba(188, 188, 188, 1);
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u233_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:695px;
}
#u233 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:695px;
}
#u234 {
  position:absolute;
  left:2px;
  top:340px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u235 {
  position:absolute;
  left:215px;
  top:640px;
  width:145px;
  height:55px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u236 {
  position:absolute;
  left:0px;
  top:265px;
  visibility:hidden;
}
#u236_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u236_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u237_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:430px;
}
#u237 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:430px;
}
#u238 {
  position:absolute;
  left:2px;
  top:207px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u239 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u240 {
  position:absolute;
  left:180px;
  top:0px;
  width:180px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u236_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u236_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u241_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:430px;
}
#u241 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:430px;
}
#u242 {
  position:absolute;
  left:2px;
  top:207px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u243 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u244 {
  position:absolute;
  left:180px;
  top:0px;
  width:180px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u245 {
  position:absolute;
  left:0px;
  top:380px;
  width:360px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
