body {
  margin:0px;
  background-color:rgba(188, 188, 188, 1);
  background-image:none;
  position:static;
  left:auto;
  width:900px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u246_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:695px;
}
#u246 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:695px;
}
#u247 {
  position:absolute;
  left:2px;
  top:340px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u248 {
  position:absolute;
  left:40px;
  top:275px;
  visibility:hidden;
}
#u248_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u248_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u249_img {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:51px;
}
#u249 {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:50px;
  color:#FFFFFF;
}
#u250 {
  position:absolute;
  left:2px;
  top:17px;
  width:276px;
  word-wrap:break-word;
}
#u251_img {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:161px;
}
#u251 {
  position:absolute;
  left:0px;
  top:50px;
  width:280px;
  height:160px;
}
#u252 {
  position:absolute;
  left:2px;
  top:72px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u253_img {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:41px;
}
#u253 {
  position:absolute;
  left:20px;
  top:80px;
  width:240px;
  height:40px;
  text-align:center;
}
#u254 {
  position:absolute;
  left:0px;
  top:12px;
  width:240px;
  word-wrap:break-word;
}
#u255_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:36px;
}
#u255 {
  position:absolute;
  left:20px;
  top:150px;
  width:115px;
  height:35px;
  color:#0192BE;
}
#u256 {
  position:absolute;
  left:2px;
  top:10px;
  width:111px;
  word-wrap:break-word;
}
#u257_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:36px;
}
#u257 {
  position:absolute;
  left:145px;
  top:150px;
  width:115px;
  height:35px;
}
#u258 {
  position:absolute;
  left:2px;
  top:10px;
  width:111px;
  word-wrap:break-word;
}
#u259_img {
  position:absolute;
  left:0px;
  top:0px;
  width:501px;
  height:31px;
}
#u259 {
  position:absolute;
  left:400px;
  top:0px;
  width:500px;
  height:30px;
  color:#FFFFFF;
  text-align:left;
}
#u260 {
  position:absolute;
  left:10px;
  top:7px;
  width:488px;
  word-wrap:break-word;
}
#u261 {
  position:absolute;
  left:400px;
  top:35px;
  width:505px;
  height:105px;
}
#u262_img {
  position:absolute;
  left:0px;
  top:0px;
  width:501px;
  height:51px;
}
#u262 {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:50px;
  text-align:left;
}
#u263 {
  position:absolute;
  left:2px;
  top:17px;
  width:496px;
  word-wrap:break-word;
}
#u264_img {
  position:absolute;
  left:0px;
  top:0px;
  width:501px;
  height:51px;
}
#u264 {
  position:absolute;
  left:0px;
  top:50px;
  width:500px;
  height:50px;
  text-align:left;
}
#u265 {
  position:absolute;
  left:2px;
  top:9px;
  width:496px;
  word-wrap:break-word;
}
