body {
  margin:0px;
  background-color:rgba(188, 188, 188, 1);
  background-image:none;
  position:static;
  left:auto;
  width:900px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u274_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:695px;
}
#u274 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:695px;
}
#u275 {
  position:absolute;
  left:2px;
  top:340px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u276 {
  position:absolute;
  left:210px;
  top:645px;
  width:150px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u277 {
  position:absolute;
  left:150px;
  top:280px;
  width:150px;
  height:30px;
}
#u277_input {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#FF0000;
  text-align:right;
  border-color:transparent;
  outline-style:none;
}
#u278 {
  position:absolute;
  left:0px;
  top:50px;
  visibility:hidden;
}
#u278_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u278_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u279_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:41px;
}
#u279 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:40px;
  text-align:left;
}
#u280 {
  position:absolute;
  left:10px;
  top:12px;
  width:348px;
  word-wrap:break-word;
}
#u281 {
  position:absolute;
  left:210px;
  top:275px;
  width:150px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u282_img {
  position:absolute;
  left:0px;
  top:0px;
  width:501px;
  height:31px;
}
#u282 {
  position:absolute;
  left:400px;
  top:0px;
  width:500px;
  height:30px;
  color:#FFFFFF;
  text-align:left;
}
#u283 {
  position:absolute;
  left:10px;
  top:7px;
  width:488px;
  word-wrap:break-word;
}
#u284 {
  position:absolute;
  left:400px;
  top:35px;
  width:505px;
  height:55px;
}
#u285_img {
  position:absolute;
  left:0px;
  top:0px;
  width:501px;
  height:51px;
}
#u285 {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:50px;
  text-align:left;
}
#u286 {
  position:absolute;
  left:2px;
  top:17px;
  width:496px;
  word-wrap:break-word;
}
